   .flashcard-grid {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: center;
    } 


   .flashcard {
      width: 350px;
      height: 350px;
      perspective: 1000px;
    }

    .card-inner {
      position: relative;
      width: 350px;
      height: 350px;
      text-align: center;
      transition: transform 0.6s;
      transform-style: preserve-3d;
    }

    .flashcard:hover .card-inner {
      transform: rotateY(180deg);
    }

    .card-front,
    .card-back {
      position: absolute;
      width: 350px;
      height: 350px;
      backface-visibility: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: sans-serif;
      font-size: 1.2rem;
      border: 1px solid #ccc;
      border-radius: 8px;
    }

    .card-front {
      background-color: #f8f8f8;
    }

    .card-hover {
      position: absolute;
      bottom:50px;
      left:120px;
      font-size: 36px;
      color:white;
      
      
     }

    .card-back {
      background-color: #ffe08a;
      transform: rotateY(180deg);
    }
